body{
    text-align: center;
}

h1{
    color: cornflowerblue;
    margin-left: -750
}

.line{
    background-color: white;
    height: 7px;
    width: 900px;
    margin: 8px auto;
}

p{
    font-size: 19px;
}